.admin-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
}


.admin-navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.admin-navbar-logo-img {
    border-radius: 50%;
    margin-left: 10px;
}

.admin-nav-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.admin-nav-menu {
    list-style: none;
    display: flex;
}

.admin-nav-item {
    margin: 0 15px;
}

.admin-nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.admin-nav-links:hover {

    border: 2px solid #ede0e0;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(195, 127, 255);
}

.admin-nav-menu.active {
    display: block;
}

#admin-button {
    border-radius: 4px;

}



@media (max-width: 768px) {
    .admin-nav-menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
    }

    .admin-nav-toggle {
        display: block;
    }
}