.applicant-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000
}

.applicant-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.applicant-navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.applicant-navbar-logo-img {
    margin-right: 10px;
    border-radius: 50%;
}

.applicant-nav-menu {
    list-style: none;
    display: flex;
}

.applicant-nav-item {
    margin: 0 15px;
}

.applicant-nav-links {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.applicant-nav-links:hover {
    border: 2px solid #ede0e0;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(195, 127, 255);
}

@media (max-width: 768px) {
    .applicant-nav-menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        /* Example color */
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
    }

    .applicant-nav-toggle {
        display: block;
    }
}